<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="spring_zx_demo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_zx_demo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_zx_demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_zx_demo" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$USER_HOME$/Desktop/workspace/java/tomcat/apache-tomcat-9.0.35/lib/jsp-api.jar" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: cglib:cglib:3.3.0" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.1.21" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:6.0.6" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.5" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm:7.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aspects:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.9.RELEASE" />
          <element id="file-copy" path="$USER_HOME$/Desktop/workspace/java/tomcat/apache-tomcat-9.0.35/lib/servlet-api.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>